/* Variables for all values */
:root{
    /*Utility class values*/
    --debugging-border: 1px solid black;
    --zero-margin: 0;
    --zero-padding: 0;

    /*Page layout values*/
    /*Main section*/
    --page-height: 100%;
    --container-margin: 2rem 0;
    --container-padding: 1rem 25%;
    --title-text-align: center;

    /*About me sections*/
    --about-width: 75%;
    --about-height: 40%;
    --about-images-width: 25%;
    --about-paragraph-text-align: center;

    /*Image sizing*/
    --image-height: calc(100% / 3);
    --image-fit: cover;
}

/*UTILITY CLASSES*/
.border-box{
    box-sizing: border-box;
}

.no-margin-no-padding{
    margin: var(--zero-margin);
    padding: var(--zero-padding);
}

.black-border{
    border: var(--debugging-border);
}

.flex-row-container{
    display: flex;
}

.flex-col-container{
    display: flex;
    flex-direction: column;
}

/*LAYOUT*/

/*Layout: Whole page*/
html, body{
    height: 100%;
}

.container{
    border-width: 5px;
    border-color: green;
    margin: var(--container-margin);
    padding: var(--container-padding);
}

.about-me-title{
    text-align: var(--title-text-align);
}

/*Layout: Professional and Personal About Me*/

.professional, .personal{
    height: var(--about-height);
}

/*Layout: Professional and Personal Images*/

.professional-images, .personal-images{
    width: var(--about-images-width);
    justify-content: space-evenly;
}

/*Layout: Professional and Personal Headers and Paragraph*/

.about-me{
    width: var(--about-width);
    align-items: center;
}

.about-me-subtitle{
    text-align: var(--title-text-align);
}

.about-me-paragraph{
    text-align: var(--about-paragraph-text-align);
    width: var(--about-width);
}

span{
    display: block;
    margin-bottom: .5em;
}

/*Sizing: Images*/
.image{
    /* height: var(--image-height); */
    /* width: calc(var(--image-height)*4); */
    object-fit: var(--image-fit);
}

